/*
    Copyright (C) 2013-2019 Remi Thebault
    All rights reserved.

    This program and its source code are distributed under the
    terms of the BSD-style license, that can be found in the
    License.txt file at project root.
*/

#pragma once

#include <si/{{ dim.name }}.hpp>

#include <QLabel>

namespace si {
    namespace {{ dim.cppns }} {
        Q_NAMESPACE
        Q_ENUM_NS(Unit)
    }
}

namespace siui {

class {{ dim.name }}Label : public QLabel
{
    Q_OBJECT

    Q_PROPERTY(si::{{ dim.cppns }}::Unit unit READ unit WRITE setUnit)
    Q_PROPERTY(int precision READ precision WRITE setPrecision)

public:

    {{ dim.name }}Label(QWidget *parent);

    virtual ~{{ dim.name }}Label();

    si::{{ dim.name }} {{ dim.snake_name }}() const;

    si::{{ dim.cppns }}::Unit unit() const {
        return unit_;
    }

    void setUnit(si::{{ dim.cppns }}::Unit unit);

    int precision() const {
        return precision_;
    }

    void setPrecision(int precision);

public slots:

    void set{{ dim.name }}(si::{{ dim.name }} value);

signals:

    void {{ dim.snake_name }}Changed(si::{{ dim.name }} value);

private slots:

    void handleCustomMenu(const QPoint& globalPos);

    void updateValue();

protected:

    virtual bool eventFilter(QObject *obj, QEvent *ev) override;

private:

    si::{{ dim.name }} value_;
    si::{{ dim.cppns }}::Unit unit_;
    double precision_;
};

} // namespace siui
