/*
    Copyright (C) 2013-2014 Remi Thebault
    All rights reserved.

    This program and its source code are distributed under the
    terms of the BSD-style license, that can be found in the
    License.txt file at project root.
*/

#ifndef PHYSICS_LITERALS_HPP
#define PHYSICS_LITERALS_HPP

{%for item in items%}
#include "{{item.titleName}}.hpp"
{%endfor%}


namespace ph {
inline namespace literals {

{%for item in items%}
    {%for unit in item.units%}

constexpr {{item.titleName}} operator"" _{{unit.litName}} (long double {{unit.name}})
{
    return {{item.titleName}}::from{{unit.titleName}}({{unit.name}});
}


constexpr {{item.titleName}} operator"" _{{unit.litName}} (unsigned long long int {{unit.name}})
{
    return {{item.titleName}}::from{{unit.titleName}}(static_cast<double>({{unit.name}}));
}

    {%endfor%}
{%endfor%}

} // inline namespace literals
} // namespace ph

#endif // PHYSICS_LITERALS_HPP
