import qbs

StaticLibrary {
	Depends { name: "cpp" }
	Depends { name: "Qt"; submodules:["core", "widgets"] }
	name: "QPhysicsUI"
	cpp.includePaths: ["include", "../Physics/include"]
	cpp.cxxFlags: "-std=c++11"
	files: [
{% for item in items %}
        "include/Q{{item.titleName}}SpinBox.hpp",
{% endfor %}
{% for item in items %}
        "Q{{item.titleName}}SpinBox.cpp",
{% endfor %}
    ]
}
