
INCLUDEPATH += include

SOURCES += \
 {% for item in items %}
    Q{{item.titleName}}SpinBox.cpp \
 {% endfor %}

HEADERS += \
    include/QPhysicsUI_API.hpp \
 {% for item in items %}
    include/Q{{item.titleName}}SpinBox.hpp \
 {% endfor %}
