/*
	Copyright (C) 2013-2014 Remi Thebault
	All rights reserved.

	This program and its source code are distributed under the
	terms of the BSD-style license, that can be found in the
	License.txt file at project root.
*/

#ifndef PHYSX_INCLUDE_ALL_HPP
#define PHYSX_INCLUDE_ALL_HPP

{%for item in items%}
#include "{{item.titleName}}.hpp"
{%endfor%}


#endif // PHYSX_INCLUDE_ALL_HPP
