/*
    Copyright (C) 2013-2014 Remi Thebault
    All rights reserved.

    This program and its source code are distributed under the
    terms of the BSD-style license, that can be found in the
    License.txt file at project root.
*/

#ifndef PHYSICS_FWDDECL_HPP
#define PHYSICS_FWDDECL_HPP


namespace ph {

{%for item in items%}
    class {{item.titleName}};
{%endfor%}

}

#endif // PHYSICS_FWDDECL_HPP
