import qbs

StaticLibrary {
    Depends { name: "cpp" }
    name: "Physics"
    cpp.includePaths: "include"
    files: [
{%for item in items%}
        "include/ph/{{item.titleName}}.hpp",
{%endfor%}
        "include/ph/Config.hpp",
        "include/ph/FwdDecl.hpp",
        "include/ph/Operators.hpp",
        "include/ph/Literals.hpp",
        "include/ph/Physics.hpp",
        "include/ph/Constants.hpp",
        "include/ph/_IncludeAll.hpp",
        "Zero.cpp"
    ]
}
