/*
    Copyright (C) 2013-2019 Remi Thebault
    All rights reserved.

    This program and its source code are distributed under the
    terms of the BSD-style license, that can be found in the
    License.txt file at project root.
*/

#pragma once

#include <QtUiPlugin/QDesignerCustomWidgetInterface>

class DesignerInterfaceCollection :
        public QObject,
        public QDesignerCustomWidgetCollectionInterface
{
    Q_OBJECT
    Q_INTERFACES( QDesignerCustomWidgetCollectionInterface )
    Q_PLUGIN_METADATA(IID "org.qt-project.Qt.QDesignerCustomWidgetCollectionInterface" )

public:

    DesignerInterfaceCollection(QObject *parent=nullptr);
    virtual ~DesignerInterfaceCollection();

    virtual QList<QDesignerCustomWidgetInterface*> customWidgets() const;

private:

    QList<QDesignerCustomWidgetInterface*> plugs_;
};

class DesignerInterface :
        public QObject,
        public QDesignerCustomWidgetInterface
{
    Q_OBJECT
    Q_INTERFACES(QDesignerCustomWidgetInterface)

public:
    DesignerInterface(QObject *parent = 0);
    virtual ~DesignerInterface();

    virtual bool isContainer() const override {
        return false;
    }
    virtual bool isInitialized() const;

    virtual void initialize(QDesignerFormEditorInterface *core);

private:
    bool _initialized=false;
};
{% for dim in dims %}

class {{ dim.name }}LabelDesignerInterface : public DesignerInterface
{
    Q_OBJECT
    Q_INTERFACES(QDesignerCustomWidgetInterface)

public:
    {{ dim.name }}LabelDesignerInterface(QObject *parent = nullptr);
    virtual ~{{ dim.name }}LabelDesignerInterface();

    virtual QString name() const override;
    virtual QString includeFile() const override;
    virtual QString group() const override;
    virtual QString toolTip() const override;
    virtual QString domXml() const override;
    virtual QIcon icon() const override;
    virtual QString whatsThis() const override;

    virtual QWidget *createWidget(QWidget *parent) override;
};
{% endfor %}
{% for dim in dims %}

class {{ dim.name }}SpinBoxDesignerInterface : public DesignerInterface
{
    Q_OBJECT
    Q_INTERFACES(QDesignerCustomWidgetInterface)

public:
    {{ dim.name }}SpinBoxDesignerInterface(QObject *parent = nullptr);
    virtual ~{{ dim.name }}SpinBoxDesignerInterface();

    virtual QString name() const override;
    virtual QString includeFile() const override;
    virtual QString group() const override;
    virtual QString toolTip() const override;
    virtual QString domXml() const override;
    virtual QIcon icon() const override;
    virtual QString whatsThis() const override;

    virtual QWidget *createWidget(QWidget *parent) override;
};
{% endfor %}
